
* {
    transition: all 0.2s ease-in-out;
  }
  
  body {
    background:url('bb.webp');
    display: grid;
    place-items: center;
    height: 100vh;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
  }
  
  .card {
    background:burlywood;
    border-radius: 40px;
    height: 85vh;
    width: 80vw;
    box-shadow:  6px solid rgba(128, 13, 13, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1em;
    overflow: hidden;
  }
  
  @media only screen and (min-width: 1000px) {
    .card {
      flex-direction: row-reverse;
    }
    .card img.birthday {
      width: 100%;
      max-width: 50vw;
      max-height: unset;
    }
  }
  
  @media only screen and (max-height: 640px) {
    .card {
      flex-direction: column-reverse;
    }
    .card img.birthday {
      width: 100%;
      max-width: 50vw;
      max-height: unset;
      position: relative;
    }
  }
  
  img.birthday {
    max-height: 40vh;
  }
  
  .text {

    padding: 1em;
  }
  .text:hover{
    color: #364b03;
    
  }
  
  .muted {
    opacity: 2;
  }
  
  .space {
    height: 100px;
  }